<!-- <mat-progress-bar mode="query" *ngIf = "showSpinner"></mat-progress-bar> -->
<app-nav-menu></app-nav-menu>

    <section>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
            <div class="row pt-md-5 mt-md-3 mb-5">
              <div class="col-md-12">
                <div class="content animated fadeInUp">
                  <!-- inicio de carta-->
                  <!-- <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Registro de proveedor</h4>
                                </div>
                                <div class="content table-responsive table-full-width"> -->
                  <!-- <h5>Datos generales</h5>
                  <div class="content tabla">
                    
                    <table>
                      <tr>
                        <td rowspan="7"><button type="file">Adjuntar</button></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Nombre productor</td>
                        <td colspan="5"><input type="text" class="intput-largo"></td>
                        
                      </tr>
                      <tr>
                        <td></td>
                        <td>Nº Cedula</td>
                        <td><input type="text" class=""></td>
                        <td>cedula cafetera</td><td><input type="text"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Nombre del predio</td>
                        <td colspan="5"><input class="intput-largo" type="text"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Codigo Finca</td>
                        <td><input type="text" class=""></td>
                        <td>Codigo SICA</td><td><input type="text"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Municipio</td>
                        <td><input type="text" class=""></td>
                        <td>Vereda</td><td><input type="text"></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td>Numero Tel</td>
                        <td><input type="text" class=""></td>
                        <td>Afiliacion salud</td><td><input type="text"></td>
                      </tr>
                    </table>
                  </div> -->
                  <!--  -->
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">Registro de productores</h4>
                                </div>
                                <div class="content">
                                  <mat-horizontal-stepper linear #stepper>
                                    <mat-step [stepControl]="firstFormGroup">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nombre del productor</label>
                                                    <input type="text" class="form-control" placeholder="nombre del productor">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nº de cedula</label>
                                                    <input type="text" class="form-control" placeholder="ingrece la cedula">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nombre del predio</label>
                                                    <input type="text" class="form-control" placeholder="Nombre del predio">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Codigo cafetero</label>
                                                    <input type="text" class="form-control" placeholder="Codigo cafetero">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Codigo de Finca</label>
                                                    <input type="text" class="form-control" placeholder="Codigo de la finca">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Codigo SICA</label>
                                                    <input type="text" class="form-control" placeholder="Ingrece el codigo">
                                                </div>
                                            </div>
                                        </div>
    
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label>Municipio</label>
                                                    <input type="text" class="form-control" placeholder="Municipio">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Vereda</label>
                                                    <input type="number" class="form-control" placeholder="Vereda">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                          <div class="col-md-4">
                                              <div class="form-group">
                                                  <label>Numero de telefono</label>
                                                  <input type="text" class="form-control" placeholder="Numero de telefono">
                                              </div>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="form-group">
                                                  <label>Afiniacion a salud</label>
                                                  <input type="number" class="form-control" placeholder="Afiniacion a salud">
                                              </div>
                                          </div>
                                      </div>
                                        
                                        <div class="row">
                                          <div class="col-md-2">
                                            
                                          </div>
                                          <div class="col-md-8"></div>
                                          <div class="col-md-2">
                                            <button type="submit" class="btn btn-info btn-fill pull-right" matStepperNext>siguiente</button>    
                                          </div>
                                        </div>
                                        
                                        
                                        
                                    </form>
                                  </mat-step>

                                  <mat-step [stepControl]="secondFormGroup">
                                    <!-- segundo step -->

                                    <form>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <h5 class="title title-center">Datos Familiares</h5>
                                          <div class="table-responsive table-full-width">
                                            <table class="table table-striped table-bordered">
                                              <thead>
                                                    <tr>
                                                        <th class="title">Nombre</th>
                                                        <th class="title">Documento</th>
                                                        <th class="title">Fecha Nacimiento</th>
                                                        <th class="title">Parentesco</th>
                                                        <th class="title">Tipo Poblacion</th>
                                                        <th class="title">Afiliacion salud</th>
                                                        <th class="title">Nivel Educativo</th>
                                                        <th class="title">Accion</th>
                                                    </tr>
                                              </thead>
                                              <tbody>
                                                  <tr *ngFor="let field of fieldArray; let i = index">
                                                      <td>
                                                          <input [(ngModel)]="field.code" class="form-control" type="text" name="{{field.code}}" />
                                                      </td>
                                                      <td>
                                                          <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
                                                      </td>
                                                      <td>
                                                          <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
                                                      </td>
                                                      <td>
                                                        <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
                                                    </td>
                                                    <td>
                                                      <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
                                                    </td>
                                                    <td>
                                                      <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
                                                    </td>
                                                    <td>
                                                      <input [(ngModel)]="field.price" class="form-control" type="text" name="{{field.price}}" />
                                                    </td>
                                                      <td>
                                                        <a class="badge" (click)="deleteFieldValue(i)">
                                                          <img src="assets/dejar.png" alt="">
                                                        </a>
                                                      </td>
                                                      
                                                  </tr>
                                                  <tr>
                                                      <td>
                                                          <input class="form-control" type="text" id="newAttributeCode" [(ngModel)]="newAttribute.code" name="newAttributeCode" />
                                                      </td>
                                                      <td>
                                                          <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />
                                                      </td>
                                                      <td>
                                                          <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
                                                      </td>
                                                      <td>
                                                        <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
                                                    </td>
                                                    <td>
                                                      <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
                                                    </td>
                                                    <td>
                                                      <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
                                                    </td>
                                                    <td>
                                                      <input class="form-control" type="text" id="newAttributePrice" [(ngModel)]="newAttribute.price" name="newAttributePrice" />
                                                    </td>
                                                      <td>
                                                          <!-- <button class="btn btn-default" type="button" ">Add</button> -->
                                                          <a class="badge" (click)="addFieldValue()">
                                                            <img src="assets/comprobado.png" alt="">
                                                          </a>
                                                      </td>
                                                  </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                          
                                          <div class="row">
                                            <div class="col-md-2">
                                              <button type="submit" class="btn btn-info btn-fill pull-left" matStepperPrevious>Atras</button>
                                            </div>
                                            <div class="col-md-8">
                                              <!-- <button type="submit" class="btn btn-info btn-fill pull-right">Guardar</button> -->
                                            </div>
                                            <div class="col-md-2">
                                              <button type="submit" class="btn btn-info btn-fill pull-right" matStepperNext>siguiente</button>    
                                            </div>
                                          </div>  
                                          
                                          <div class="clearfix"></div>
                                        </div>
                                      </div>
                                    </form>
                                    <!-- final segundo step -->
                                  </mat-step>

                                  <mat-step [stepControl]="threeFormGroup">
                                      <!-- tercer step -->
                                      <ng-template matStepLabel></ng-template>

                                      <div class="row">
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Tenencia de tierra</label>
                                            <select name="select" class="form-control">
                                                <option value="Propia">Propia</option>
                                                <option value="Comunitaria">Comunitaria</option>
                                                <option value="Otra">Otra</option>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Legalidad</label>
                                            <select name="select" class="form-control">
                                              <option value="Escritura">Escritura</option>
                                              <option value="Certificado autoridad">Certificado autoridad</option>
                                              <option value="Carta venta">Carta venta</option>
                                            </select>                                          
                                          </div>
                                        </div>
                                      </div>

                                      <div class="row">
                                        <!-- inicio row -->
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <Label>Asistente a la asamblea comunitarias</Label>
                                            <select name="select" class="form-control" [(ngModel)]="asistente" placeholder="Elija una opción">
                                              <option value="no">NO</option>
                                              <option value="si">SI</option>
                                            </select>
                                            <div *ngIf = "asistente == 'si'">
                                              <input class="form-control" placeholder="Cargo si desempeña" type="text">
                                            </div>
                                          </div>
                                        </div>

                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <Label>Asistente a trabajos tradicionales</Label>
                                            <select name="select" class="form-control" [(ngModel)]="tradicional" placeholder="Elija una opción">
                                              <option value="no">NO</option>
                                              <option value="si">SI</option>
                                            </select>
                                            <div *ngIf = "tradicional == 'si'">
                                              <input class="form-control" placeholder="Cargo si desempeña" type="text">
                                            </div>
                                          </div>
                                        </div>

                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <Label>Pertenece a una organización aparte</Label>
                                            <select name="select" class="form-control" [(ngModel)]="organizacion" placeholder="Elija una opción">
                                              <option value="no">NO</option>
                                              <option value="si">SI</option>
                                            </select>
                                            <div *ngIf = "organizacion == 'si'">
                                              <input class="form-control" placeholder="A cual ?" type="text">
                                            </div>
                                          </div>
                                        </div>
                                        <!-- fin row -->
                                      </div>

                                      <div class="row">
                                        <!-- inicio row -->
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Tipo de vivienda</label>
                                            <select name="select" class="form-control">
                                              <option value="Tradicional">Tradicional</option>
                                              <option value="Occidental">Occidental</option>
                                            </select>                                          
                                          </div>
                                        </div>

                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Numero de habitaciones</label>
                                            <input type="number" class="form-control">
                                          </div>
                                        </div>

                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Material predominante</label>
                                            <select name="select" class="form-control">
                                              <option value="Barro">Barro</option>
                                              <option value="Adobe">Adobe</option>
                                              <option value="Ladrillo">Ladrillo</option>
                                              <option value="Bloque">Bloque</option>
                                              <option value="Plastico">Plastico</option>
                                              <option value="Otro">Otro</option>
                                            </select>   
                                          </div>
                                        </div>
                                        <!-- fin row -->
                                      </div>

                                      <div class="row">
                                        <!-- inicio row -->
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Material predominante</label>
                                            <select name="select" class="form-control">
                                              <option value="Barro">Barro</option>
                                              <option value="Adobe">Adobe</option>
                                              <option value="Ladrillo">Ladrillo</option>
                                              <option value="Bloque">Bloque</option>
                                              <option value="Plastico">Plastico</option>
                                              <option value="Otro">Otro</option>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Material del techo</label>
                                            <select name="select" class="form-control">
                                              <option value="Paja">Paja</option>
                                              <option value="Zinc">Zinc</option>
                                              <option value="Palma">Palma</option>
                                              <option value="Eternit">Eternit</option>
                                              <option value="Plastico">Plastico</option>
                                              <option value="Otro">Otro</option>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Cuenta con piso ?</label>
                                            <select name="select" class="form-control">
                                              <option value="Ceramica">Ceramica</option>
                                              <option value="Cemento">Cemento</option>
                                              <option value="Tierra">Tierra</option>
                                            </select>
                                          </div>
                                        </div>

                                        <!-- fin row -->
                                      </div>

                                      <div class="row">
                                        <!-- inicio row -->
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Tipo de cosina</label>
                                            <select name="select" class="form-control">
                                              <option value="Barro">Barro</option>
                                              <option value="Adobe">Adobe</option>
                                              <option value="Enramada">Ladrillo</option>
                                              <option value="Compartida">Compartida</option>
                                              <option value="Al aire">Al aire</option>
                                              <option value="Al aire">Al aire</option>
                                              <option value="No hay">No hay</option>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Material para cosinar</label>
                                            <select name="select" class="form-control">
                                              <option value="Leña">Leña</option>
                                              <option value="Pipeta de gas">Pipeta de gas</option>
                                              <option value="Petroleo">Petroleo</option>
                                            </select>
                                          </div>
                                        </div>

                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Fuente de energia para cosinar</label>
                                            <select name="select" class="form-control">
                                              <option value="Bosque">Bosque</option>
                                              <option value="Sombrio">Sombrio</option>
                                              <option value="Otro">Otro</option>
                                            </select>
                                          </div>
                                        </div>
                                        <!-- fin row -->
                                      </div>

                                      <div class="row">
                                        <!-- Inicio row -->
                                        <div class="col-md-4">
                                          <div class="form-group">
                                            <label>Servicio sanitario</label>
                                            <select name="selectServicioSanitario" [(ngModel)]="selectServicioSanitario" class="form-control">
                                              <option value="SI">SI</option>
                                              <option value="NO">NO</option>
                                            </select>
                                            <div *ngIf="selectServicioSanitario == 'SI'">
                                              <input type="text" class="form-control" placeholder="Estado">
                                            </div>
                                          </div>
                                        </div>
                                          <div class="col-md-4">
                                            <div class="form-group">
                                              <label>Tipo Alumbrado</label>
                                              <select name="select" class="form-control">
                                                <option value="Mechon">Mechon</option>
                                                <option value="Vela">Vela</option>
                                                <option value="Solar">Solar</option>
                                                <option value="Planta">Planta</option>
                                                <option value="Foco de mano">Foco de mano</option>
                                                <option value="Ninguno">Ninguno</option>
                                              </select>
                                            </div>
                                          </div>

                                          <!-- Fin row -->
                                      </div>
                                      <div class="row">
                                        <div class="col-md-2">
                                          <button type="submit" class="btn btn-info btn-fill pull-left" matStepperPrevious>Atras</button>
                                        </div>
                                        <div class="col-md-8">
                                          <button type="submit" class="btn btn-info btn-fill pull-right">Guardar</button>
                                        </div>
                                        <div class="col-md-2">
                                          <button type="submit" class="btn btn-info btn-fill pull-right" matStepperNext>siguiente</button>    
                                        </div>
                                      </div>
                                      <!-- fin tercer step -->
                                  </mat-step>

                                  </mat-horizontal-stepper>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-md-4">
                            <div class="card card-user">
                                <div class="image">
                                    <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                                </div>
                                <div class="content">
                                    <div class="author">
                                          <a href="#">
                                        <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>
    
                                          <h4 class="title">Mike Andrew<br />
                                              <small>michael24</small>
                                          </h4>
                                        </a>
                                    </div>
                                    <p class="description text-center"> "Lamborghini Mercy <br>
                                                        Your chick she so thirsty <br>
                                                        I'm in that two seat Lambo"
                                    </p>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                    <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                    <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
    
                                </div>
                            </div>
                        </div> -->
    
                    </div>
                  </div>
                                <!--  -->
                              <!-- </div>
                          </div>
                      </div>
                  </div>
                  </div> -->
                  <!-- fin de carta -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>