<app-nav-menu></app-nav-menu>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row pt-md-5 mt-md-3 mb-5">
          <div class="col-md-12">
            <div class="content">
              <div class="content animated fadeInUp">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="header">
                          <h4 class="title">Lista de reportes</h4>
                        </div>
                        <div class="content">
                          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis impedit ex sunt perspiciatis placeat totam quia architecto, ut quo nostrum minima exercitationem, libero, tempore voluptatibus ullam! Consequuntur facere consequatur nulla.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
