.header{
    text-align: center;
}

/* .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #cfc9c9;
    cursor: pointer;
} */

/* td{
    border-left-color: yellow;
} */
