.alig{
    text-align: center;
}
.modal-header {
    background-color:  teal;
    text-align: center;
}
.modal{
 border-radius: 0px;
}
.white-text{
    color: #fff !important;
}

.badge{
    text-align: center;
}

.accion{
    margin: 0px;
}

#Guardar{
    margin: 30px;
    text-align: center;
}