<app-nav-menu></app-nav-menu>

<section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-10 col-lg-9 col-md-8 ml-auto">
        <div class="row pt-md-5 mt-md-3 mb-5">
          <div class="col-md-12">
            <div class="content">
              <div class="content animated fadeInUp ">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card">
                        <div class="header mb-3">
                          <h4 class="title">Lista de de auditorias realizadas al productor <code translate="no" dir="ltr">{{productor.nombre}}</code> </h4>
                        </div>
                        <div class="content">
                          <div class="row">
                              <div class="col-md-12">
                                <div class="mt-3 table-responsive table-full-width">
                                  <table class="table table-hover table-striped table-bordered">
                                    <thead>
                                      <tr>
                                        <th class="title">Fecha</th>
                                        <th class="title">Hora</th>
                                        <th class="title">Persona quien la recibió</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let visita of visitaAuditorias" (click)="visitaConsultar(visita)">
                                          <td>
                                              {{visita.fechaVisita}}
                                          </td>
                                          <td>
                                              {{visita.horaVisita}}
                                          </td>
                                          <td>
                                            <div *ngIf="visita.recibeVisita == ''; else fechaprox">No registrada</div>
                                            <ng-template #fechaprox>
                                                {{visita.recibeVisita}}
                                            </ng-template>
                                          </td>
                                      </tr>
                                    </tbody>
                                  <!-- <div *ngIf="visitaAuditorias === null">No se han realizado promotorias</div> -->
                                  </table>
                                </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



